body{
    font-family: Algerian;
  }
  .contain {
  overflow: hidden;
}
.ba{
    overflow: hidden;
    position:absolute;
}
.card-1 {

width: 63%;
margin: auto;
overflow: hidden;
padding-top: 73px;

}
.mc {

overflow: hidden;
background-color: beige;
margin-top: 55px;
border: 1px solidwhite;
border-radius: 5px;
padding: 25px;

}
.chicken-12 {

overflow: hidden;
border-bottom: 1px solid #ddd;
width: 80%;
text-align: center;
padding-top: 97px;

}
.orange-8 {

overflow: hidden;
width: 85%;
border-bottom: 1px solid #ddd;
text-align: center;

padding-top: 97px;

}
.icon {
  width: 93px;
  border-radius: 100%;
  background-color:  black;
  overflow: hidden;
  text-align: center;
  margin: auto;
  margin-top: auto;
  margin-top: 40px;
}
.fas.fa-user-graduate {
  text-align: center;
  font-size: 41px;
  color: orange;
  padding: 23px;

}
.fas.fa-briefcase {
  text-align: center;
  font-size: 41px;
  color: orange;
  padding: 23px;

}
.river-11 {

overflow: hidden;
background-color: #707cbb;

padding: 29px;

margin-top: 88px;

border-radius: 5px;

border: 1px solid#ddd;

}
.river-11:hover {

transform: translateY(-20px);
transition: 0.7s;

}
.river-11 p {

color: white;

}
.river-12 p {

color: white;

}
.river-12:hover {

transform: translateY(-20px);
transition: 0.7s;

}
.river-12 {

overflow: hidden;
background-color: #707cbb;

padding: 29px;

margin-top: 56px;

border-radius: 5px;

border: 1px solid#ddd;

}
.apple {

background-color:#707cbb;
overflow: hidden;
border: 1px solid white;
border-radius: 5px;

}
.fas.fa-laptop-code {
font-size: 41px;
color: orange;
padding: 23px;
text-align:center;
}
.fas.fa-mobile-alt {
  font-size: 41px;
color: orange;
padding: 23px;
text-align:center;
}
.ba1 {

overflow: hidden;
margin-left: 150px;
margin-top: 140px;


}

.ba {
  overflow: hidden;
  position: absolute;
 
}
.penci {
background-image: url;
background-image: url("../img/w.png");
background-size: cover;
background-size: 100% 100%;
padding-bottom: 220px;

}
.pencil {

background-image: url('../img/l.png');
background-size: cover;
background-attachment: fixed;
background-size: 100% 100%;
padding-bottom: 55px;

}
.pen {

background-image: url("../img/y.png");
background-size: cover;
padding-bottom: 136px;
background-attachment: fixed;

}
.bird {

  background-color: #2a6464;
  color: white;
  padding: 55px;
  margin-top: 97px;
  overflow: hidden;

}
.penci h2 {
   color: white;

}
.b2 {
  overflow: hidden;
  margin-top: 140px;
}

.org {

  color: #0eb787;

}
.org1 {

  color: #0eb787;

}
.org3 {

  color: #0eb787;

}
.org4 {

  color: #0eb787;

}
.fas.fa-id-card-alt {
 
  margin-right: 5px;
}
.fas.fa-address-card.w3-margin-right {
  color: orange;
  background: black;
  padding: 8px;
  border-radius: 50%;
}
@media screen and (max-width: 991px) {
.ba1 {
  margin-left: 100px; 

}
}
@media screen and (max-width: 951px) {
.ba1,.b2 {
  margin-top: 100px; 

}
}
@media screen and (max-width: 951px) {
#particles-js {
  padding-bottom: 300px; 

}
}
@media screen and (max-width: 807px) {
#particles-js {
 padding-bottom: 350px;

}
}
@media screen and (max-width: 373px) {
#particles-js {
 padding-bottom: 400px;

}
}
@media screen and (max-width: 766px) {
.ba1 {
  margin-left: 0px; 

}
}
@media screen and (max-width: 780px) {
.ba {
 margin-top: 0px;  
}
}
@media screen and (max-width: 575px) {
.b2 {
 margin-top: 171px;  
}
}
@media screen and (max-width: 575px) {
.ba1 {
  margin-top:3px; 
  margin-left: none;
}
}
/*-----client testimonial------*/

.wrapper {
margin: 0 auto;
width: 800px;
padding-top: 78px;

padding-bottom: 96px;
}
@media screen and (max-width: 800px) {
.wrapper {
  width: 600px; 
}
}
@media screen and (max-width: 600px) {
.wrapper {
  width: 500px; 
}
}
@media screen and (max-width: 500px) {
.wrapper {
  width: 300px; 
}
}
@media screen and (max-width: 319px) {
.wrapper {
  width: 200px; 
}
}

.slide-viewer {
position: relative;
overflow: hidden;
height: 150px;
}

.slide-group {
width: 100%;
height 100%;
position: relative;
}

.slide {
width: 100%;
height: 100%;
display: none;
position: absolute;
}

.slide:first-child {
display: block;
}

.slide-buttons {
text-align:center;
margin: 10px 0;
}

.slide-btn {
width: 20px;
height: 20px;
background-color: #666;
}

.active {
background-color: #222;
}


blockquote {
  padding: 0.5rem 1rem;
}

.center {
text-align: center;
}
.buring:hover {

  opacity: 0.9;

}
.buring1:hover {

  opacity: 0.9;

}
.buring2:hover {

  opacity: 0.9;

}
.buring3:hover {

  opacity: 0.9;

}
.buring4:hover {

  opacity: 0.9;  

}

